body {background-color: #4D4E54}

h2 {font-size: 1.8em;
     color: white ;
    }
    
.col-sm-2{ background-color: #4D4E54;} 

.col-sm-10{ margin-top: 15px;} 

.well{ background-color: #0E0E0E;
  height: 100%;
  text-align:center;
  border-radius: 40px;
  margin-top: 15px;
} 

hr {
  border-top: 1px #0E0E0E;
  }

span {
  color: white;
  font-weight: bold;
}

.control-label{color: white}

a:link { color: #ccc8c8; font-style: italic; font-weight: normal; font-size: .9em}
a:visited { color: #ccc8c8; font-style: italic; font-weight: normal; font-size: .9em}
a:hover { color: #ffe96b; font-style: italic; font-weight: normal; font-size: .9em}
a:active { color: #ccc8c8; font-style: italic; font-weight: normal; font-size: .9em}

